<p id="notice"><%= notice %></p>

<p>
  <b>Bid:</b>
  <%= @team.bid %>
</p>

<p>
  <b>Bags:</b>
  <%= @team.bags %>
</p>

<p>
  <b>Tricks won:</b>
  <%= @team.tricks_won %>
</p>

<p>
  <b>Round score:</b>
  <%= @team.round_score %>
</p>

<p>
  <b>Total score:</b>
  <%= @team.total_score %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
