<h3>Log In</h3><br />

<%= form_tag sessions_path do %>

  <% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :id => key %>
  <% end %><br />
  
	<div class="control-group">
    <%= label_tag :username %>
    <div class="controls">
      <%= text_field_tag :username, params[:username] %>
    </div>
  </div>

	<div class="control-group">
    <%= label_tag :password %>
    <div class="controls">
      <%= password_field_tag :password %>
    </div>
  </div>

  
  <div class="actions"><%= submit_tag "Log In", :class => "btn" %>
  <%= link_to "Create Account", signup_path, :class => "btn" %>
  </div>
  
  
<% end %>
