<%= simple_form_for(@user) do |f| %>

  <div class="field">
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>

  <div class="actions">
    <%= submit_tag "Sign Up", :class => "btn"  %>
  </div>
  
<% end %>
