<div style="float: left; width: auto;">
  <div class="well">
    <center>
      <% unless @game.is_full? %>
        <%= button_to "Fill Game", game_fill_path(@game), {:remote => true, :form_class => "game-button", :class => "button"} %>
      <% else %>
        <% if @game.new_round_time? %>
          <%= button_to "New Round", game_new_round_path(@game), {:remote => true, :form_class => "game-button", :class => "button"} %>
        <% end %>
        <% if @game.passing_time? %>
          <%= button_to "Fill Passing Sets", game_fill_passing_sets_path(@game), {:remote => true, :form_class => "game-button", :class => "button"} %>
          <% if @game.ready_to_pass? %>
            <%= button_to "Pass Cards", game_pass_cards_path(@game), {:remote => true, :form_class => "game-button", :class => "button"} %>
          <% end %>
        <% end%>
        <% if @game.new_trick_time? %>
          <%= button_to "New Trick", game_new_trick_path(@game), {:remote => true, :form_class => "game-button", :class => "button"} %>
          <%= button_to "Play All But One Trick", game_play_all_but_one_trick_path(@game), {:remote => true, :form_class => "game-button", :class => "button"} %>
        <% end %>
        <% if @game.mid_trick_time? %>
          <%= button_to "Play One Card", game_play_one_card_path(@game), {:remote => true, :form_class => "game-button", :class => "button"} %>
        <% end %>
      <% end %>
    </center>
  </div>
</div>