<div class ="scoreboard">
  <%= render :partial => 'shared/scoreboard' %>
</div>

<div class="game-buttons">
  <%= render :partial => 'shared/game_buttons' %>
</div>

<div style="float: left; width: auto;">
  <div class="span6 well">

    <div class="game-progress">
      <%= render :partial => 'shared/game_progress' %>
    </div>

    <div id="my-hand">
      <%= render :partial => 'shared/my_hand' %>
    </div>
    
  </div>
</div>

<% if @game.has_more_than_one_trick? %>
  <div style="float: left; width: auto;">
    <div class="span3 well">
    
      <div id="previous-trick">
        <%= render :partial => 'shared/previous_trick' %>
      </div>
    
    </div>
  </div>
<% end %>