<div style="float: left; width: auto;">
  <div class="well">
    <center>
      <% unless @game.is_full? %>
        <%= game_button("fill") %>
      <% else %>
        <% if @game.new_round_time? %>
          <%= game_button("new round") %>
        <% end %>
        <% if @game.passing_time? %>
          <%= game_button("fill passing sets") %>
          <% if @game.ready_to_pass? %>
            <%= game_button("pass cards") %>
          <% end %>
        <% end%>
        <% if @game.new_trick_time? %>        
          <%= game_button("new trick") %>
          <%= game_button("play all but one trick") %>
        <% end %>
        <% if @game.mid_trick_time? %>
          <%= game_button("play one card") %>
        <% end %>
      <% end %>
    </center>
  </div>
</div>