<% if @game.is_over? %>
  <h3>GAME'S OVER!!! The winner is <%= @game.winner.username %></h3><br />
<% elsif @game.rounds.any? %>

  <% if !@game.cards_have_been_passed %>
    <h3>Please Select Three Cards To Pass <%= @game.last_round.pass_direction.capitalize %></h3>
  <% elsif @game.last_round.tricks.any? %>
    <div class="table">
      <% @game.played_cards.each do |card| %>
        <% position = card.player.seat %>
        <p class="card played position-<%= position %> card-<%= card.value + "-" + card.suit %>" card-id="<%= card.id %>">
          <%= card.value + " of " + card.suit %>
        </p>
      <% end %><br />
    </div>
  <% end %>
<% end %>