<% if @game.is_over? %>
  <h3>GAME'S OVER!!! The winner is <%= @game.winner.username %></h3><br />
<% elsif @game.rounds.any? %>
  <div class="table">
    <% @game.played_cards.try(:each) do |card| %>
      <% position = card.get_position(current_player) %>
      <p class="card played position-<%= position %> card-<%= card.value + "-" + card.suit %>">
        <%= card.value + " of " + card.suit %>
      </p>
    <% end %><br />
  </div>
<% end %>


<div class="seated-players">
  <%= render :partial => 'shared/seated_players' %>
</div>