<% if current_user.is_playing_in?(@game) %>
  <% if @hand.present? %>
    <br />
    <div class="span4">
      <h3>Your Hand:</h3>
      <div class="mytable">
        <table class="table table-striped">
          <tbody>
            <% @hand.each do |card| %>
              <tr>
                <td>
                  <% if @game.passing_time? %>
                    <% if card.has_been_chosen? %>
                      <%= card.in_english + " has been chosen" %>    
                    <% elsif card.can_be_chosen? %>
                      <%= card_button(card, "choose_card_to_pass")%>
                    <% else %>
                      <%= card.in_english %>
                    <% end %>
                  <% elsif @my_turn && card.is_valid?(@lead_suit) %>
                    <%= card_button(card, "play_one_card") %>
                  <% else %>
                    <%= card.in_english %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <br />
    <h3>Your Hand Is Empty</h3>
  <% end %>
<% end %>