<% if current_user.is_playing_in?(@game) %>
  <% if current_player.try(:hand).present? %>
    <br />
 
            <div id="pass-button">
              <%= progress_button("passing_set_ready", "remove-pass-button", "button btn-info") if player_can_pass? %>
            </div>
            <ul>
              <% current_player.try(:hand).each do |card| %>
                <li>
                  <% if @game.passing_time? %>
                    <% if card.has_been_chosen? %>
                      <% if !player_has_passed? %>
                        <%= card_button(card, "flip_passing_status", "reload-hand", "button btn-warning") %>
                      <% else %>
                        <button class="btn btn-danger"><%= card.in_english %></button>
                      <% end %>
                    <% elsif card.can_be_chosen? %>
                      <%= card_button(card, "flip_passing_status", "reload-hand") %>
                    <% else %>
                      <%= card.in_english %>
                    <% end %>
                    
                  <% elsif @game.is_current_players_turn?(current_player) %>
                    
                    <% if card.is_valid?(@game.get_lead_suit, @game.trick_is_first?) %>
                    <% @path = game_play_one_card_path(@game, :card => card) %>
                    <form action="<%= game_play_one_card_path(@game, :card => card) %>" class="immediate-reload" data-remote="true" method="post">
                      <div><%= image_submit_tag(card.image_path) %>
                        
                      </div>
                    </form>
                    <% else %>
                      <%= image_tag(card.image_path) %>
                    <% end %>
                    
                  <% else %>  
                    <%= card.in_english %>
                  <% end %>
                </li>
              <% end %>
            </ul>
         
    </div>
  <% else %>
    <br />
    <h3>Your Hand Is Empty</h3>
  <% end %>
<% end %>