<% if @hand.present? %>
  <div class="span4">
    <h3>Your Hand:</h3>
    <div class="mytable">
      <table class="table table-striped">
        <tbody>
          <% @hand.each do |card| %>
            <tr>
              <td>
                <% if @game.passing_time? %>
                  <% if card.has_been_chosen %>
                    <%= card.in_english + " has been chosen" %>    
                  <% elsif card.can_be_chosen? %>
                    <%= button_to card.in_english, choose_card_to_pass_game_path(@game, :card => card), :remote => true, :form_class => "game-button", :class => "button"%>
                  <% else %>
                    <%= card.in_english %>
                  <% end %>
                <% elsif @my_turn && card.is_valid?(@lead_suit) %>
                <%= button_to card.in_english, game_play_one_card_path(@game, :card => card), {:remote => true, :form_class => "game-button", :class => "button"} %>
                <% else %>
                  <%= card.in_english %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>