<% if current_user.is_playing_in?(@game) %>
  <% if current_player.try(:hand).present? %>
    <br />
    <div class="span4">
      <h3>Your Hand:</h3>
      <div class="mytable">
        <table class="table table-striped">
          <tbody>
            <div id="pass-button">
              <%= progress_button("passing_set_ready", "remove-pass-button", "button btn-info") if player_can_pass? %>
            </div>
            <% current_player.try(:hand).each do |card| %>
              <tr>
                <td>
                  <% if @game.passing_time? %>
                  
                    <% if card.has_been_chosen? %>
                      <% if !player_has_passed? %>
                        <%= card_button(card, "flip_passing_status", "reload-hand", "button btn-warning") %>
                      <% else %>
                        <%= card.in_english + " is being passed" %>
                      <% end %>
                    <% elsif card.can_be_chosen? %>
                      <%= card_button(card, "flip_passing_status", "reload-hand") %>
                    <% else %>
                      <%= card.in_english %>
                    <% end %>
                    
                  <% elsif @game.is_current_players_turn?(current_player) %>
                  
                    <% if card.is_valid?(@game.get_lead_suit, @game.trick_is_first?) %>
                      <%= card_button(card, "play_one_card", "immediate-reload") %>
                    <% else %>
                      <%= card.in_english %>
                    <% end %>
                    
                  <% else %>  
                    <%= card.in_english %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <br />
    <h3>Your Hand Is Empty</h3>
  <% end %>
<% end %>