<div style="float: left; width: auto;">
  <div class="well">
    <center>
      <% unless @game.is_full? %>
        <%= game_button("Fill") %>
      <% else %>
        <% if @game.new_round_time? %>
          <%= game_button("New Round") %>
        <% end %>
        <% if @game.passing_time? %>
          <%= game_button("Fill Passing Sets") %>
          <% if @game.ready_to_pass? %>
            <%= game_button("Pass Cards") %>
          <% end %>
        <% end%>
        <% if @game.new_trick_time? %>
          <%= game_button("New Trick",) %>
          <%= button_to "Play All But One Trick", play_rest_of_tricks_game_path(@game) %>
        <% end %>
        <% if @game.mid_trick_time? %>
          <%= game_button("Play One Card", "play-card") %>
        <% end %>
      <% end %>
    </center>
  </div>
</div>