<head>
  <script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
  
	<script type="text/javascript">
    var apiKey = "17052081";
    var sessionId = "<%= @game.session_id %>";
    var token = "<%= @token %>";           
 
    TB.setLogLevel(TB.DEBUG); // Set this for helpful debugging messages in console
 
    var session = TB.initSession(sessionId);      
    session.addEventListener('sessionConnected', sessionConnectedHandler);
    session.addEventListener('streamCreated', streamCreatedHandler);
    session.connect(apiKey, token);
 
    var publisher;
 
    function sessionConnectedHandler(event) {
      publisher = TB.initPublisher(apiKey, 'myPublisherDiv', {microphoneGain: 0});
      session.publish(publisher);
       
      // Subscribe to streams that were in the session when we connected
      subscribeToStreams(event.streams);
    }
     
    function streamCreatedHandler(event) {
      // Subscribe to any new streams that are created
      subscribeToStreams(event.streams);
    }
     
    function subscribeToStreams(streams) {
      for (var i = 0; i < streams.length; i++) {
        // Make sure we don't subscribe to ourself
        if (streams[i].connection.connectionId == session.connection.connectionId) {
          return;
        }
        
        // Create the div to put the subscriber element in to
        var div = document.createElement('div');
        div.setAttribute('id', 'stream-' + i.toString());
        
        $("#container-0").append(div)
                           
        // Subscribe to the stream
        var subscribeProps = {height:240, width:320};
        session.subscribe(streams[i], div.id);
      }
    }
  </script>
</head>

<div id="all-the-streams">
  <div id="myPublisherDiv"></div>
  <div id="container-0"></div>       
  <div id="container-1"></div>       
  <div id="container-2"></div>       
  <div id="container-3"></div>       
</div>                           

<div class="game-title">
  <h1><%= @game.name.to_s %></h1>
</div>

<div class="footer">
  Computer player images from <%= link_to "CageMe", "http://cageme.herokuapp.com" %> You should go check it out right now
</div>

<% if current_player.try(:is_game_master?) %>
  <div class="delete-button">
    <%= link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<div class="previous-trick">
  <%= render :partial => 'shared/previous_trick' %>
</div>

<div class="game-page">
  <%= render :partial => 'shared/game_page' %>
<div>