<div id="all-the-streams">
  <div id="myPublisherDiv"></div>
  <div id="container-0"></div>
  <div id="container-1"></div>
  <div id="container-2"></div>
  <div id="container-3"></div>
</div>

<div class="game-title">
  <h1><%= @game.name.to_s %></h1>
</div>

<div class="footer">
  Computer player images from <%= link_to "CageMe", "http://cageme.herokuapp.com" %> You should go check it out right now
</div>

<% if current_player.try(:is_game_master?) %>
  <div class="delete-button">
    <%= link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<div class="previous-trick">
  <%= render :partial => 'shared/previous_trick' %>
</div>

<div class="game-page">
  <%= render :partial => 'shared/game_page' %>
<div>
