<!DOCTYPE html>
<html>
<head>
  <title>CardGames</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :id => key %>
  <% end %>

  <%= yield %>

</body>
</html>
