<!DOCTYPE html>
<html>
<head>
  <title>CardGames</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="navbar">
		<div class="navbar-inner">
			<div class="container">
			  <%= link_to (image_tag "home.png", :size => "30x30"), root_url %>
			  <navbartext>
  			  <% if logged_in? %>
  			    <%= "Welcome, " %><%= link_to current_user.username, current_user %> |
  			    <%= link_to "Logout", logout_path %>
  			  <% else %>
  			    <%= link_to "Register", signup_path %> | 
  			    <%= link_to "Login", login_path %>
  			  <% end %>
			  </navbartext>
			</div>
		</div>
	</div>

  <%= yield %>

</body>
</html>
